@use "../../partials/index" as *;
@use "../../global/index" as *;

*{
  // border: 0.5px solid red;
}

.career-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: size(24);
  h2 {
    color: var(--Neutral-Base-color-950, #19191a);
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 150% */
    @include breakpoint(mobile768) {
      font-size: 48px;
    }
  }
  p {
    color: var(--Light-mode-Text-Color-Placeholder, #7d7f85);
    text-align: center;

    /* text-lg/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  .img-container {
    max-width: size(800);

    width: 100%;
    img {
      border-radius: size(24);
    }
  }
}

.job-openning {
  display: flex;
  flex-direction: column;
  gap: size(20);

  h2 {
    color: var(--Nutral-Color-950, #09090b);

    /* text-6xl/Semi bold */
    font-family: Inter;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 116.667% */
    @include breakpoint(mobile768) {
      font-size: 48px;
    }
  }

  p {
    text-align: center;
    color: var(--Light-mode-Text-Color-Placeholder, #7d7f85);
    text-align: center;

    /* text-lg/Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  .card-container {
    display: flex;
    padding: size(5);
    // border: 1px solid red;

    border-radius: size(12);
    background: white;
    flex-direction: column;
    gap: size(24);
    @include breakpoint(mobile500) {
      padding: size(48);
      border-radius: size(32);
    }
    .card-content {
      display: flex;

      padding: size(12);
      border-radius: size(16);
      background: #e6e6e7;

      justify-content: space-between;
      align-items: center;
      @include breakpoint(mobile500) {
        padding: size(24);
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: size(2);
        // border: 1px solid red;
        @include breakpoint(mobile500) {
          gap: size(16);
        }
        .service {
          display: flex;
          align-items: center;
          gap: size(12);
          h2 {
            color: var(--Neutral-Base-color-950, #19191a);
            /* text-5xl/Semi bold */
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 40px; /* 111.111% */
            @include breakpoint(mobile500) {
              font-size: 18px;
            }

            @include breakpoint(desktop1024) {
              font-size: 36px;
            }
          }

          .divider {
            width: size(1);
            height: size(28);
            background: var(--Neutral-Base-color-950, #474749);
          }

          p {
            color: var(--Text-Secondary-Text-Color, #6b7280);

            /* text-lg/Semi bold */
            font-family: Inter;
            font-size: 10px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; /* 150% */

            @include breakpoint(desktop1024) {
              font-size: 16px;
            }
          }
        }

        .location-time {
          display: flex;
          align-items: center;
          gap: size(12);
          .location {
            display: flex;
            align-items: center;
            gap: size(8);
            img {
              width: size(12);
              height: size(12);

              @include breakpoint(desktop1024) {
                width: size(16);
                height: size(16);
              }
            }

            span {
              color: var(--Text-Secondary-Text-Color, #6b7280);

              /* text-lg/Regular */
              font-family: Inter;
              font-size: 10px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px; /* 150% */

              @include breakpoint(desktop1024) {
                font-size: 16px;
              }
            }
          }

          .time {
            display: flex;
            align-items: center;
            gap: size(8);
            img {
              width: size(12);
              height: size(12);
              @include breakpoint(desktop1024) {
                width: size(16);
                height: size(16);
              }
            }

            span {
              color: var(--Text-Secondary-Text-Color, #6b7280);

              /* text-lg/Regular */
              font-family: Inter;
              font-size: 10px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px; /* 150% */
              @include breakpoint(desktop1024) {
                font-size: 16px;
              }
            }
          }
        }
      }

      .button {
        width: size(80);
        height: size(38);
        padding: size(12) size(24);
        border-radius: 10px;
        background: var(--Primary-700, #0f766d);
        display: inline-flex;
        align-items: center;
        justify-content: center;

        @include breakpoint(mobile500) {
          width: size(80);
          height: size(48);
        }
        @include breakpoint(desktop1024) {
          width: size(152);
        }

        span {
          white-space: nowrap;
          color: var(--White-Base, #fff);

          /* text-lg/Semi bold */
          font-family: Inter;
          font-size: 9px;
          font-style: normal;
          font-weight: 600;
          line-height: 24px; /* 150% */
          @include breakpoint(mobile500) {
            font-size: 10px;
          }

          @include breakpoint(desktop1024) {
            font-size: 16px;
          }
        }
      }
    }
  }

  .bg-img-container {
    overflow: hidden;
    border-radius: size(12);
    @include breakpoint(mobile500) {
      border-radius: size(24);
    }
    img {
      width: 100%;
    }
  }
}

.advisorform {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: size(8);
  @include breakpoint(mobile768){
    gap: size(40);
  }
  h2 {
    color: var(--Nutral-Color-950, #09090b);
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 150% */

    @include breakpoint(mobile768){
      font-size: size(48);
    }
  }
  p {
    color: var(--Text-Secondary-Text-Color, #6b7280);
    text-align: center;

    /* text-lg/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    @include breakpoint(mobile768){
      font-size: size(16);
    }
  }
}

.form-box {
  // border: 1px solid red;

  max-width: size(800);
  width: 100%;
  border-radius: size(16);
  
  display: grid;
  background: white;

  column-gap: size(20);
  row-gap: size(20);
  grid-template-columns: repeat(1, 1fr);
// padding: size(8);
padding: size(8) size(8) size(8) size(8) !important;
  @include breakpoint(mobile768) {
    padding: size(24) !important;
    grid-template-columns: repeat(2, 1fr);
  }

  .position-title {
    border-radius: size(8);
    padding: size(10) size(5);
    background: #e6e6e7;
    grid-column: 1/2;
    @include breakpoint(mobile768) {
      grid-column: 1/-1;
    padding: size(12) size(16);

    }

    h2 {
      text-align: left;
      color: var(--Neutral-Base-color-950, #19191a);

      /* text-lg/Semi bold */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 150% */
      @include breakpoint(mobile768){
        font-size: size(16);
      }
    }
  }
  .input-group {
    display: flex;
    flex-direction: column;
    gap: size(8);
    lebel {
      // border: 1px solid red;

      color: var(--Nutral-Color-950, #09090b);

      /* Text Base/Medium */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
    }

    input {
      border: 1px solid var(--Border-Color, #e7eaef);
      border-radius: size(10) size(10) size(10) size(10) !important;
      padding: size(16);

      &::placeholder {
        color: var(--Grey-100, #72757b);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 114.286% */
        letter-spacing: 0.14px;
      }
    }
  }

  .cover-letter {
    display: flex;
    flex-direction: column;
    gap: size(8);
    grid-column: 1/2;

    @include breakpoint(mobile768) {
      grid-column: 1/3;
    }

    lebel {
      color: var(--Nutral-Color-950, #09090b);

      /* Text Base/Medium */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
    }
    textarea {
      border: 1px solid var(--Border-Color, #e7eaef);
      padding: size(12);
      border-radius: size(10);
      height: size(107);
      // border: 1px solid red;
      @include breakpoint(mobile768) {
      
        padding: size(24);
      }
      &::placeholder {
        // border: 1px solid red;
        color: var(--Grey-100, #72757b);

        /* Text Base/Regular */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
      }
    }
  }

  button {
    grid-column: 1/-1;
    color: var(--White-Base, #fff);

    /* text-lg/Semi bold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    border: none;
    padding: size(12);
    border-radius: 10px;
    background: var(--Primary-700, #0f766d);
  }

  .cv-upload {
    display: flex;
    gap: size(2);

    .no-active {
      background: none !important;
      transition: all 0.3s ease;
      // border: 1px solid red;
      &:hover {
        background: #f4f5f7 !important;
      }
    }
    .upload-btn {
      cursor: pointer;

      border-radius: size(10);
      padding: size(12) size(24);
      background: #f4f5f7;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: size(9);
      width: size(160);
      img {
        width: size(20);
        height: size(20);
      }
      span {
        color: var(--Neutral-Base-color-950, #19191a);

        /* text-lg/Semi bold */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        @include breakpoint(mobile768){
          font-size: size(16);
        }
      }
    }
  }
}
