@use "../../partials/index" as *;
@use "../../global/index" as *;

.container {
  // border: 1px solid red;
  padding-bottom: size(20);
  .feature {
    display: grid;
    gap: size(10);
    margin-top: size(50);
    grid-template-columns: 1fr;
    @include breakpoint(desktop1024) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    // border: 1px solid red;

    .feature-left {
      width: 100%;

      grid-column: 1/2;
      @include breakpoint(desktop1024) {
        grid-column: 1/3;
      }
      // border: 1px solid red;
      overflow: hidden;
      @include breakpoint(desktop1024) {
        // width: size(534);
      }
      @include breakpoint(desktop1400) {
        // width: size(845);
      }
      // border: 1px solid red;
      // height: auto;
      padding-bottom: size(0) !important;
      // border: 2px solid green;
      gap: size(24);
      position: relative;
      border-radius: 28px;
      background: var(--Nutral-Color-50, #f4f5f7);
      // flex-shrink: 0;
      .titles {
        padding-left: size(23);
        h2 {
          color: var(--Nutral-Color-950, #09090b);

          /* text-3xl/Semi bold */
          font-family: Inter;
          margin-top: size(24);
          font-size: size(20);
          @include breakpoint(mobile600) {
            font-size: 24px;
          }
          font-style: normal;
          font-weight: 600;
          line-height: 32px; /* 133.333% */
        }
        .swiper-button-prev {
          width: 31.91px;
          height: 31.91px;
          flex-shrink: 0;
          display: flex;
          transform: rotate(180deg);
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          background: var(--White-Base, #fff);

          /* Shadow/shadow-sm */
          box-shadow: 0 0 1px 0 rgba(12, 26, 75, 0.24),
            0 3px 8px -1px rgba(50, 50, 71, 0.05);
          // border: 1px solid red;
          position: absolute;
          top: size(27);
          right: size(63);
          img {
            width: size(20);
          }
          .swiper-navigation-icon {
            display: none;
          }
        }
        .swiper-button-next {
          width: 31.91px;
          height: 31.91px;
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          background: var(--White-Base, #fff);

          /* Shadow/shadow-sm */
          box-shadow: 0 0 1px 0 rgba(12, 26, 75, 0.24),
            0 3px 8px -1px rgba(50, 50, 71, 0.05);
          // border: 1px solid blue;
          position: absolute;
          top: size(27);
          right: size(24);
          img {
            width: size(20);
          }
          .swiper-navigation-icon {
            display: none;
          }
        }
      }

      .slider {
        // border: 1px solid rgb(55, 0, 255);
        width: 100%;
        // border: 1px solid red;
        display: flex !important;
        justify-content: space-between !important;
        // border: 2px solid blue;
        padding: size(10);
        @include breakpoint(desktop1024) {
          width: size(800);
        }
        //   border: 1px solid red;

        .slide {
        
          width: 100%;
          // width: 600px;
          // width: size(180) !important;
          // border: 1px solid red;
          justify-content: center;
          // border: 4px solid blue;
          // overflow: hidden;
          box-sizing: border-box;

          .card {
            width: 100%;
            @include breakpoint(desktop1024){
              
            }
            // border: 1px solid red;
            height: auto;

            padding: 0 size(10);
            //   border: 1px solid red;

            .card-image {
              width: 100%;

              // border: 2px solid red;

              border-radius: 16px;
              margin-top: size(10);
              display: flex;
              align-items: center;
              justify-content: center;
              background: #f6f6f6;
              .img-container {
                width: 100%;

                img {
                  width: 100%;
                }
              }
            }

            .info {
              margin-top: size(10);
              .star-reviews {
                // border: 1px solid red;
                display: flex;
                width: 100%;
                padding: 0 size(5);
                align-items: center;
                gap: size(47);
                .reviews {
                  display: flex;
                  align-items: center;
                  .star-icon {
                    width: size(18);
                  }

                  p {
                    color: var(--Nutral-Color-700, #474957);

                    /* XS/Regular */
                    font-family: Inter;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 14px;
                  }
                }

                .location {
                  display: flex;
                  align-items: center;
                  .location-icon {
                    width: size(18);
                  }
                  span {
                    color: var(--Nutral-Color-700, #474957);

                    /* XS/Regular */
                    font-family: Inter;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 14px; /* 140% */
                  }
                }
              }

              .heading {
                margin-top: size(5);

                padding: 0 size(10);
                h2 {
                  margin-bottom: size(10);
                  color: var(--Nutral-Color-950, #09090b);

                  /* Text Base/bold */
                  font-family: Inter;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 20px; /* 142.857% */
                }

                p {
                  color: var(--Nutral-Color-600, #525468);

                  /* XS/Regular */
                  font-family: Inter;
                  font-size: 10px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 14px; /* 140% */

                  span {
                    color: var(--Nutral-Color-950, #09090b);

                    /* XS/Regular */
                    font-family: Inter;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 14px;
                  }
                }
              }

              .pricing {
                border: none;
                margin-top: size(22);
                padding: 0 size(10);
                display: flex;
                justify-content: space-between;
                align-items: center;
                .price {
                  gap: size(13);
                  .main {
                    color: var(--Primary-700, #0f766d);

                    /* text-lg/bold */
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px; /* 150% */
                  }
                  .second {
                    color: var(--Nutral-Color-600, #525468);
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px; /* 133.333% */
                    text-decoration-line: line-through;
                  }
                }
                .delibary-icon {
                  width: size(22);
                }
              }
            }
          }
        }
      }
    }

    .feature-right {
      width: 100%;
      grid-column: 1/2;
      overflow: hidden;


      @include breakpoint(desktop1024) {
        grid-column: 3/4;
      }
      @include breakpoint(desktop1024) {
        // width: size(411);
        width: 100%;
      }
      @include breakpoint(desktop1400) {
        // width: size(411) !important;
      }
      // height: size(535);
      border-radius: 24px;
      background: var(--Primary-50, #f0fdfc);
      flex-shrink: 0;
      // border: 1px solid red;

      .titles {
        padding-left: size(23);
        padding-bottom: size(24);
        // border: 1px solid blue;
        position: relative;
        h2 {
          color: var(--Nutral-Color-950, #09090b);

          /* text-3xl/Semi bold */
          font-family: Inter;
          font-size: 24px;

          @include breakpoint(desktop1024) {
            font-size: size(15);
          }
          @include breakpoint(desktop1400) {
            font-size: size(24);
          }
          margin-top: size(24);
          font-style: normal;
          font-weight: 600;
          line-height: 32px; /* 133.333% */
        }
        .swiper-button-prev-shop {
          width: 31.91px;
          height: 31.91px;
          flex-shrink: 0;
          display: flex;
          transform: rotate(180deg);
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          background: var(--White-Base, #fff);

          /* Shadow/shadow-sm */
          box-shadow: 0 0 1px 0 rgba(12, 26, 75, 0.24),
            0 3px 8px -1px rgba(50, 50, 71, 0.05);
          // border: 1px solid red;
          position: absolute;
          top: size(0);
          right: size(63);
          img {
            width: size(20);
          }
          .swiper-navigation-icon {
            display: none;
          }
        }
        .swiper-button-next-shop {
          width: 31.91px;

          height: 31.91px;
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          background: var(--White-Base, #fff);

          /* Shadow/shadow-sm */
          box-shadow: 0 0 1px 0 rgba(12, 26, 75, 0.24),
            0 3px 8px -1px rgba(50, 50, 71, 0.05);
          // border: 1px solid blue;
          position: absolute;
          top: 0;
          right: size(24);
          img {
            width: size(20);
          }
          .swiper-navigation-icon {
            display: none;
          }
        }
      }

      .shops {
        // border: 1px solid red;
        padding-bottom: size(20);
        .slider {
          .slide {
            display: flex;
            flex-direction: column;

            align-items: center;
            gap: size(13);
            .shop {
              // width: 346px;
              width: 80%;
              // border: 1px solid red;
              padding: size(14) size(18) size(11) size(18);
              height: 58px;
              flex-shrink: 0;
              border-radius: 10px;
              background: var(--White-Base, #fff);
              box-shadow: 0 0 1.086px 0 rgba(12, 26, 75, 0.24),
                0 3.257px 8.684px -1.086px rgba(50, 50, 71, 0.05);
              @include flex-center-vert;
              justify-content: space-between;
              .right {
                @include flex-center-vert;
                gap: size(14);
                .img {
                  width: size(56);
                  img {
                    // image styles
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                  }
                }

                .info {
                  h2 {
                    color: var(--Primary-950, #042f2b);

                    /* text-lg/Semi bold */
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px; /* 150% */
                  }

                  p {
                    color: var(--Nutral-Color-700, #474957);

                    /* text-sm/Regular */
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                    span {
                      .star-icon {
                        // border: 1px solid red;
                        width: size(18);
                      }
                      // star icon
                    }
                  }
                }
              }

              .left {
                @include flex-center-vert;
                .location-icon {
                  width: size(16);
                }

                span {
                  color: var(--Gray-700, #4a5568);

                  /* XS/Regular */
                  font-family: Inter;
                  font-size: 10px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 14px; /* 140% */
                }
              }
            }
          }
        }
      }
    }
  }
}
