@use "../../partials/index" as *;
@use "../../global/index" as *;

.dropdown {
  position: relative;


  .dropdown-btn {
    background: #EDF7F7;
    width: size(110);
    height: size(42);
    border: none;
    gap: size(7);
    cursor: pointer;

    padding: size(9) size(12);
    display: inline-flex;
    align-items: center;
    justify-content: space-between; // push arrow to right

    .btn-content {
      gap: size(6);
      display: inline-flex;
      align-items: center;

      img {
        width: size(20);
        height: size(20);
      }
      span {
        color: var(--Nutral-Color-950, #09090b);
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
      }
    }

    .arrow-icon {
      width: size(13);
      transition: transform 0.18s ease;
    }
  }

  .menu {
    position: absolute;
    left: 0;
    background: white;
    // border: 1px solid red;
    padding: size(4);
    width: size(125);
    top: calc(100% + size(5));
    box-shadow: 0px 3px 7px -5px #000000;
    border-radius: size(5);
    z-index: 1000;

    // hidden by default (for smooth transition)
    opacity: 0;
    visibility: hidden;
    transform: translateY(-6px);
    transition: opacity 0.18s ease, transform 0.18s ease, visibility 0.18s;

    list-style: none;
    margin: 0;

    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 100%;
      transition: all 0.12s ease;
      height: size(32);
      border-radius: size(5);
      padding: size(4) size(5);

      &:hover {
        background: #e9f3f3;
      }
    }

    // visible state
    &.show {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}

.socialicons {
  display: flex;
  gap: size(12);
  list-style: none;
  li {
    img {
      width: size(17);
    }
  }
}


.stores{
  display: flex;
  gap: size(8);
  .img-container{
    
    width: size(92);
    
    img{
       width: 100%;
    height: 100%;
    object-fit: contain;
    }
  }
}