@use "../../partials/index" as *;
@use "../../global/index" as *;

.mainnav {
  width: 100%;

  display: none;
  @include breakpoint(desktop1024) {
    display: flex;
  }

  align-items: center;
  height: size(60);
  background: #edf7f7;
  .contents {
    align-items: center;
    justify-content: space-between;
    .content {
      gap: size(18);
      .dropsocial {
        gap: size(8);
      }
    }
  }
}
