@use "../../partials/index" as *;
@use "../../global/index" as *;
header {
  width: 100%;
  border-bottom: 2px solid rgb(230, 228, 228);
}

.searchbar {
  width: size(475);
  height: size(48);
  border-radius: size(8);
  display: flex;
  background: #f4f5f7;
  align-items: center;
  padding: size(5) size(20) size(5) size(5);
  justify-content: space-around;
  // border: 1px solid red;

  .searchdropdown {
    position: relative;
    background: white;
    border-radius: size(5);
    cursor: pointer;
    .dropdownbtn {
      width: size(128);
      height: size(36);
      display: flex;
      align-items: center;
      justify-content: space-between;
      // border: 1px solid red;
      border-radius: size(4);
      padding: size(4) size(8);
      span {
        color: black;

        /* XS/Regular */
        font-family: Inter;
        font-size: 13px;
        font-style: normal;

        font-weight: 500;
        line-height: 14px; /* 140% */
      }
      .arrow-btn {
        width: size(20);
        height: size(20);
        color: gray;
      }
    }

    ul {
      list-style: none;
      width: size(128);
      z-index: 1000;
      transform: translateY(-6px);
      // hidden by default (for smooth transition)
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: calc(100% + size(5));
      height: auto;
      background: white;
      border-radius: size(5);
      padding: size(4);
      border: 1px solid #edf7f7;
      li {
        padding: size(5) size(12);
        display: flex;
        border-radius: size(4);
        align-items: center;

        /* XS/Regular */
        font-family: Inter;
        font-size: 13px;
        font-style: normal;

        font-weight: 500;
        line-height: 14px; /* 140% */
        &:hover {
          background: #edf7f7;
        }
      }
      &.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }

  input {
    width: 100%;
    padding-left: size(10);
    background: none;
    &::placeholder {
      color: var(--Input-Muted-Placeholder, #7a828a);
      font-feature-settings: "liga" off, "clig" off;

      /* Input/Large */
      font-family: Inter;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 15px; /* 100% */
    }
  }

  .search-icon {
    width: size(24);
    height: size(24);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.auth-btn {
  width: size(224);
  height: size(56);
  border-radius: size(12);
  align-items: center;
  justify-content: space-between;
  padding: size(5) size(18) size(5) size(10);

  background: var(--Nutral-Color-50, #f4f5f7);
  //   border: 1px solid red;
  display: flex;
  .login-btn {
    //  border: 1px solid rgb(0, 255, 47);
    border-radius: size(8);
    cursor: pointer;
    background: white;
    justify-content: center;
    gap: size(8);
    width: size(120);
    height: size(44);
    display: flex;
    align-items: center;
    img {
      width: size(24);
      height: size(24);
    }
    span {
      color: var(--Primary-700, #0f766d);

      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 150% */
    }
  }
  .signupbtn {
    cursor: pointer;
    span {
      color: var(--Nutral-Color-950, #09090b);

      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 150% */
    }
  }
}
.location-btn {
  position: relative;
  //   border: 1px solid red;
  height: size(28);

  cursor: pointer;
  .custombtn {
    display: flex;
    // border: 1px solid red;
    align-items: center;
    gap: size(12);
    outline: none;
    img {
      width: size(24);
      height: size(24);
    }
    span {
      color: var(--Border-Dark, #16192c);
      font-feature-settings: "liga" off, "clig" off;

      /* Input/Large */
      font-family: Inter;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 15px; /* 100% */
    }
    .arrow {
      width: size(13);
      color: gray;
    }
  }

  ul {
    position: absolute;
    list-style: none;
    width: size(120);
    box-shadow: 0px 3px 5px -4px #000000;
    top: calc(100% + size(5));
    height: auto;
    padding: size(5);
    background: white;
    z-index: 1000;
    transform: translateY(-6px);
    // hidden by default (for smooth transition)
    opacity: 0;
    visibility: hidden;
    border-radius: size(5);
    // border: 1px solid red;
    li {
      color: var(--Border-Dark, #16192c);
      font-feature-settings: "liga" off, "clig" off;
      cursor: pointer;
      /* Input/Large */
      font-family: Inter;
      padding: size(8) size(12);
      border-radius: size(5);
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 15px; /* 100% */
      &:hover {
        background: #edf7f7;
      }
    }

    &.show {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}

.nav2 {
  max-width: size(1200);
  width: 100%;
  padding: size(20);
  margin: size(0) auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-search {
    display: flex;
    gap: size(36);
    align-items: center;
    .logo {
      width: size(200);
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
