@use "../../partials/index" as *;
@use "../../global/index" as *;


footer{
    background: #0f1d2d;
    width: 100%;
    height: calc(100dvh + auto);
    

    @include breakpoint(mobile768){
        
        
   height: calc(100dvh + auto) !important;
   

        flex-direction: row;
    }

   
}