@use "../../partials/index" as *;
@use "../../global/index" as *;


footer{
    background: #0f1d2d;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile768){
        height: 100dvh;

        flex-direction: row;
    }

   
}