@use "../../partials/index" as *;
@use "../../global/index" as *;

.main-banner {


    padding: size(0) size(5);
display: none;
    @include breakpoint(desktop1024) {
display: block;
    }
  .banner1 {
    margin: size(24) auto;

    border-radius: 24px;
    padding: size(35) size(10) size(60) size(64);
    background: linear-gradient(
      90deg,
      #075a58 0%,
      #219498 56.54%,
      #027371 100%
    );
    max-width: size(1180);
    width: 100%;
    height: size(280);

    background-image: url("../../../banner1bg.png");
    background-size: cover; /* Makes sure image covers entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image from repeating */
    flex-shrink: 0;
    display: flex;
    gap: size(22);
    flex-direction: column;

    .titles {
      h2 {
        color: var(--White-Base, #fff);
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
      }
      p {
        color: var(--Primary-50, #f0fdfc);
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
      }
    }

    .searchbutton {
      display: flex;
      flex-direction: column !important;
      gap: size(5);
    }
  }
}
